bin/
obj/
publish/
TestResults/
*.user
*.suo
*.userosscache
*.sln.docstates
*.nupkg
*.snupkg
.nuget/
packages/
.vs/
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
*.log
*.tmp
*.temp
output.json
*.bepis
*.runtimeconfig.json
*.deps.json
*.dll
*.exe
